.A{
    position:relative;   
    background-color: bisque;
    height: 500px;
}
.D{
    
        background: greenyellow;
        width: 150px;
        margin-left: 100px;
        height: 150px;
        position: relative;
        left: 6em ;
    }